/Makefile
/build-aux
/libtool
/tmp
*.py[co]
/*.tar.bz2
/*.tar.gz
/*.tar.xz
*.log
*.a
*.cache
*.gmo
*.la
*.lo
*.mo
*.o
*.stamp
*.trs
*~
.deps
.dirstamp
.libs
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
install-sh
stamp-*
